@using System.Web.UI.WebControls
@using Ubik.Web.Infra
@using Ubik.Infra.DataManagement
@model PagedResult<ErrorLog>
@{
    var _model = Model.Data.ToArray();
    AddBackofficeBottom("ErrorLogs/index");
}
<aside class="right-side">

    <section class="content-header">
        <h1>
            @PageContent.Current.Title
            <small>@PageContent.Current.Subtitle</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Implement</a></li>
            <li><a href="#">the</a></li>
            <li class="active">breadcrump</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">

            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">
                            Error Log
                        </h3>


                    </div>
                    <div class="box-body clearfix">
                        <div class="col-md-2">
                            <button class="btn btn-warning" id="btn-delete-selectd">Delete selected logs</button>

                        </div>
                        <div class="col-md-6">
                            @Html.Partial("Partials/ClearErrorLogsForTimeRange")
                        </div>

                    </div>
                    <div class=" box-body table-responsive table-condensed table-hover">
                        <table class="table table-hover table-condensed" id="devices-table">
                            <thead>
                                <tr>
                                    <th style="width: 40px"><input type="checkbox" id="row-selector"></th>
                                    <th>Name</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>
                                @for (var i = 0; i < _model.Count(); i++)
                                {
                                    var errorlog = _model[i];
                                    <tr data-id="@errorlog.Id">
                                        <td>
                                            <input type="checkbox" id="row-selector-@i" data-id="@errorlog.Id" class="selector">
                                        </td>
                                        <td>@errorlog.Host</td>
                                        <td>@errorlog.ErrorType</td>
                                        <td>@errorlog.ErrorCode</td>
                                        <td>@errorlog.ErrorDatetTimeUtc.ToLocalTime().ToString("d/M/yy HH:mm:ss")</td>
                                        <td>@errorlog.ErrorMessage</td>
                                        <td>@errorlog.User</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer clearfix">
                        <div class="pull-right dataTables_paginate">
                            @Html.HtmlPager(Model, p => Url.Action(ViewContext.RouteData.Values["Action"].ToString(), ViewContext.RouteData.Values["Controller"].ToString(), new { p }), ViewContext.HttpContext.Request.QueryString, Pagination.PaginationInfo.DefaultPager)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</aside>