@using Ubik.Web.Components
@using Ubik.Web.Components.AntiCorruption.ViewModels
@model DeviceViewModel
@{
    var selectedSection = (Request.QueryString["section"] != null) ? int.Parse(Request.QueryString["section"]) : 0;
    var selectedSlotOrdinal = (Request.QueryString["slot"] != null) ? int.Parse(Request.QueryString["slot"]) : 0;
}
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @PageContent.Current.Title
            <small>@PageContent.Current.Subtitle</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Implement</a></li>
            <li><a href="#">the</a></li>
            <li class="active">breadcrump</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">

            <div class="col-md-6">
                <div class="box box-primary">
                    @using (Html.BeginForm("UpdateLayout", "Devices", FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <!-- left column -->

                        <div class="box-body">

                            <div class="form-group hidden">
                                @Html.LabelFor(m => m.Id)
                                @Html.HiddenFor(m => m.Id, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Id, "", new { @class = "" })
                            </div>
                            <div class="form-group">

                                <div class="input-group ">
                                    <span class="input-group-addon">
                                        <span>
                                            @Html.LabelFor(m => m.FriendlyName)
                                        </span>
                                    </span>
                                    @Html.TextBoxFor(m => m.FriendlyName, new { @class = "form-control", })
                                </div>
                                @Html.ValidationMessageFor(m => m.FriendlyName, "", new { @class = "" })
                            </div>

                            <div class="form-group">
                                <div class="input-group ">
                                    <span class="input-group-addon">
                                        <span>
                                            @Html.LabelFor(m => m.Flavor)
                                        </span>
                                    </span>
                                    <div class="form-control">
                                        @foreach (DeviceRenderFlavor option in Enum.GetValues(typeof(DeviceRenderFlavor)))
                                        {
                                            <div class="radio-inline">
                                                <label>
                                                    @Html.RadioButtonFor(m => m.Flavor, option) @option.ToString()
                                                </label>
                                            </div>
                                        }
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(m => m.Flavor, "", new { @class = "" })
                            </div>

                            <div class="form-group">

                                <div class="input-group ">
                                    <span class="input-group-addon">
                                        <span>
                                            @Html.LabelFor(m => m.Path)
                                        </span>
                                    </span>
                                    @Html.TextBoxFor(m => m.Path, new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(m => m.Path, "", new { @class = "" })
                            </div>

                        </div>
                        <div class="box-footer clearfix">
                            <div class="form-group ">
                                <button type="submit" class="btn btn-primary pull-right">Submit</button>
                            </div>
                        </div>
                    }
                </div>
                @if (Model.Id != default(int))
                {
                    var modelSection = (selectedSection == 0) ? new SectionViewModel() { DeviceId = Model.Id, SectionId = default(int), ForFlavor = Model.Flavor } : Model.Sections.Single(x => x.SectionId == selectedSection);
                    @Html.Partial("Partials/DeviceSectionDetail", modelSection)
                    @Html.Partial("Partials/DeviceSectionList", Model.Sections)
                }
            </div>
            <div class="col-md-6">
                @if (Model.Id != default(int) && selectedSection > 0)
                {
                    var modelSection = Model.Sections.Single(x => x.SectionId == selectedSection);
                    var slotModel =
                        (selectedSlotOrdinal > 0 && modelSection.Slots.Any(x => x.Ordinal == selectedSlotOrdinal))
                        ? modelSection.Slots.Single(x => x.Ordinal == selectedSlotOrdinal)
                        : new SlotViewModel() { Enabled = false, Ordinal = ((modelSection.Slots.Any()) ? modelSection.Slots.Max(x => x.Ordinal) : 0) + 1, SectionId = modelSection.SectionId, SectionIdentifier = modelSection.Identifier, ModuleType = ModuleType.Empty.ToString(), AvailableModules = Model.AvailableModules};
                    @Html.Partial("Partials/DeviceSectionSlotDetail", slotModel)
                }
            </div>
        </div>
    </section><!-- /.content -->
</aside>