@using Ubik.Web.Auth.ViewModels
@model IHasRolesToSelect
<div class="box box-solid">
    <div class="box-header">
        <h3 class="box-title">User Roles</h3>
    </div>
    <div class="box-body">
        <div class="row">
            @for (var index = 0; index < Model.AvailableRoles.Count(); index++)
            {
                var role = Model.AvailableRoles[index];
                <div class="col-md-4">
                    @Html.HiddenFor(m => m.AvailableRoles[index].Name)
                    @Html.HiddenFor(m => m.AvailableRoles[index].RoleId)
                    @Html.HiddenFor(m => m.AvailableRoles[index].IsSytemRole)
                    @Html.EditorFor(m => m.AvailableRoles[index].IsSelected)
                    <label for="@Html.IdFor(m => m.AvailableRoles[index].IsSelected)">
                        @if (role.IsSytemRole)
                        {
                            <i class="fa fa-desktop right text-info" rel="tooltip" title="System Role"></i>
                        }
                        @if (role.IsPersisted)
                        {
                            <i class="fa fa-database right text-info" rel="tooltip" title="Persisted Role"></i>
                        }
                        <span>@role.Name</span>
                    </label>
                </div>
            }
        </div>
    </div>
</div>